
<div class="main-div">
<strong>CREATE FREE ACCOUNT</strong><br>

<input type="string" name="new_user_name" class="input-box signup-login" placeholder="username"><br> 
<input type="email" name="new_user_email" class="input-box signup-login" placeholder="email"><br>
<input type="tel" name="new_user_phone" class="input-box signup-login" placeholder="mobile # (optional)"><br> 
<input type="password" name="new_user_password" class="input-box signup-login" placeholder="password"><br> 
<button id="subFormBtn" type="button" class="btn-lg main">SIGN UP</button>

<br>
<br>
<br>

<strong>Already have an account?</strong><br>
<input type="string" name="username" class="input-box signup-login" placeholder="username or email"><br> 
<!-- <input type="email" name="email" class="input-box" placeholder="email"><br>  -->
<input type="password" name="password" class="input-box signup-login" placeholder="password"><br> 
<a href=""><button type="button" class="btn-lg main">LOGIN</button></a>
</div>

